#airline_visualization {
  cursor: pointer;
}

g.arcs {
  pointer-events: none;
  fill: none;
  display: none;
}

path.arc {
  stroke: green;
  stroke-opacity: .3;
  stroke-width: 2;
}

path.highlighted {
  stroke: red;
  stroke-opacity: inherit;
}

.state-boundary {
  fill: #ccc;
  stroke: #fff;
}

.land {
  fill: #ccc;
  stroke: #fff;
}

circle {
  fill: steelblue;
  fill-opacity: .8;
  stroke: #fff;
  pointer-events: all;
}

#airline_bar_chart {
  padding-left: 50px;
}

svg rect {
  fill: steelblue;
  fill-opacity: .8;
  stroke: #fff;
  pointer-events: all;
}

.key {
  width: 225px;
  border: 5px solid #ccc;
  padding-left: 5px;
  position: absolute;
  top: 600px;
  right: 50px;
}

.key label {
  font-weight: 300;
  line-height: 130%;
  padding-left: 5px;
  font-size: 0.8em;
}

.key p {
  font-weight: 700;
  font-size: 0.8em;
  padding-left: 10px;
} 

.caption {
  font: 300 1.5em "Helvetica Neue";
  position: absolute;
  text-align: right; 
  right: 400px;
}
